* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #000000da;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    width: 70%;
    height: 100%;
}

#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}

#navbar img{
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#items{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

#items svg{
    margin-right: 5%;
    fill: #8eeaa7;
    width: 12%;
}

#items a{
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 4%;
    font-size: 1.5em;
    text-decoration: none;
    color: #8eeaa7;
    height: 10%;
}

#navbar a:hover{
    background-color: rgba(255, 255, 255, 0.062);
}

#feed{
    border-left: 1px solid #8eeaa736;
    border-right: 1px solid #8eeaa736;
    width: 60%;
    height: 100%;
}

#moments{
    background-color: rgb(66, 38, 0);
    width: 30%;
    height: 100%;
}

#header{
    background-color: rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    color: #8eeaa7;
    font-size: 2em;
}

#novoPost{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.123);
    height: 12%;
}

#labelPost{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#labelPost img{
    margin-top: 0.7em;
    width: 5%;
    border-radius: 50%;
}

#campoTexto{
    border-radius: 1em;
    border: none;
    margin-left: 1%;
    background-color: rgba(255, 255, 255, 0.082);
    margin-top: 1em;
    width: 90%;
    height: 90%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

#campoTexto:focus{
    outline: 0;
}

#opcoesNovoPost{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

#opcoesNovoPostA{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

#opcoesNovoPostB{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.botoesNovoPost{
    font-size: 1.2em;
    border: none;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.123);
    color: #8eeaa7;
    width: 40%;
    height: 70%;
}

.botoesNovoPost:hover{
    background-color: rgba(255, 255, 255, 0.192);
}

#fofocar{
    background-color: #8eeaa785;
    color: white;
    margin-right: 2%;
}

#fofocar:hover{
    background-color: #8eeaa752;
}
